body { margin: 0; padding: 0; }
h1, h2, p { margin: 0; padding: 0; }
.container-fluid { width: 100%; background: url(../images/bg-red-tile.png) repeat-x, url(../images/bg-dissect.gif) center top no-repeat; background-blend-mode: multiply; }
.container { max-width: 960px; margin: 0 auto; min-height: 600px; border: 1px dotted #fff; }
.eyebrow { margin: 120px 0 110px 10px; font: 300 13px/15px 'Helvetica Neue', Helvetica, sans-serif; letter-spacing: .03em; color: #555; }
.rule { margin: 24px 0; width: 12px; border-top: 1px solid #555; display: block; }
.banner { min-height: 140px; padding-top: 40px; color: #fff; }
.banner h1 { font: 700 62px/60px 'Helvetica Neue', Helvetica, sans-serif; text-transform: uppercase; width: 300px; margin: 0 10px; float: left; }
.banner p { font: 300 16px/18px 'Helvetica Neue', Helvetica, sans-serif; letter-spacing: .05em; width: 300px; margin: 4px 10px 0 10px; float: left; }
